<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Core.CoreModule, ServiceApi.Model.Core.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<providedService name="ServiceApi.Model.Core.Builders.IModelBuilderFactory" />
	<providedService name="ServiceApi.Model.Core.DataTypes.IDataTypeRegistry" />
  <providedService name="ServiceApi.Model.Core.Serialization.IODataObjectFactory" />
  <providedService name="ServiceApi.Model.Core.Execution.IODataPathService" />
	<providedService name="ServiceApi.Model.Core.Execution.IOperationContextFactory" />
	<providedService name="ServiceApi.Model.Core.IModelItemNamingService" />
	<providedService name="ServiceApi.Model.Core.Queries.IQueryBuilderFactory" />

</moduleConfiguration>