<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Entities.EntitiesModule, ServiceApi.Model.Entities.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="Facton.Infrastructure.Entities.Queries.IEntityQueryService" />
	<requiredService name="Facton.Infrastructure.Queries.IQueryService" />

	<requiredService name="ServiceApi.Model.Core.Builders.IModelBuilderFactory"/>
	<requiredService name="ServiceApi.Model.Core.DataTypes.IDataTypeRegistry" />
	<requiredService name="ServiceApi.Model.Core.IModelItemNamingService" />
	<requiredService name="ServiceApi.Model.Core.Serialization.IMappingLogger" />
	<requiredService name="ServiceApi.Model.Core.Serialization.IODataObjectFactory" />

	<providedService name="ServiceApi.Model.Entities.Builders.IBindableModelBuilderFactory" />
	<providedService name="ServiceApi.Model.Entities.Execution.IEntityCreator" />
	<providedService name="ServiceApi.Model.Entities.Execution.IEntityReader" />
	<providedService name="ServiceApi.Model.Entities.Execution.IEntityUpdater" />
	<providedService name="ServiceApi.Model.Entities.IFactonQueryService" />
	<providedService name="ServiceApi.Model.Entities.IStructuralPropertyFactory" />
	<providedService name="ServiceApi.Model.Entities.Serialization.IODataEntityDtoBuilderFactory" />

</moduleConfiguration>