<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.ODataMappingModule, ServiceApi.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="ServiceApi.Model.Core.Execution.IOperationContextFactory"/>
	<requiredService name="ServiceApi.Model.Entities.Builders.IBindableModelBuilderFactory"/>
	<requiredService name="ServiceApi.Model.Initialization.IFactonModelInitializer"/>
		
	<providedService name="ServiceApi.IODataMappingService" />

</moduleConfiguration>