<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Server.ServerModule, ServiceApi.Server"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="ServiceApi.IODataMappingService" />

	<providedService name="ServiceApi.Server.Hosting.IHttpHost"/>

</moduleConfiguration>