<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Server.WebApi.ODataObjects.ODataObjectFactoryModule, ServiceApi.Server"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<providedService name="ServiceApi.Model.Core.Serialization.IODataObjectFactory"/>

</moduleConfiguration>