<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.Common.CommonInitializationModule, ServiceApi.Model.Initialization.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="Facton.Infrastructure.Metadata.IMetadataService" />

	<requiredService name="ServiceApi.Model.Core.Queries.IQueryBuilderFactory" />
	<requiredService name="ServiceApi.Model.Entities.Execution.IEntityCreator" />
	<requiredService name="ServiceApi.Model.Entities.Execution.IEntityReader" />
	<requiredService name="ServiceApi.Model.Entities.Execution.IEntityUpdater" />
	<requiredService name="ServiceApi.Model.Entities.IFactonQueryService" />
	<requiredService name="ServiceApi.Model.Entities.Serialization.IODataEntityDtoBuilderFactory" />
 
	<providedService name="ServiceApi.Model.Initialization.IDefaultOperationHandlerProvider" />
	<providedService name="ServiceApi.Model.Initialization.Common.IPropertyService" />
	<providedService name="ServiceApi.Model.Initialization.ISignatureEntitySetInitializer" />

</moduleConfiguration>