<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.Versions.VersionsInitializationModule, ServiceApi.Model.Initialization.Implementation"
                     xmlns="http://www.facton.com/infrastructure/modularity">

  <requiredService name="Facton.Domain.Entities.Versions.IReadOnlyVersionService"/>
  <requiredService name="Facton.Infrastructure.Metadata.IMetadataService" />
  <requiredService name="ServiceApi.Model.Core.Queries.IQueryBuilderFactory" />
  <requiredService name="ServiceApi.Model.Entities.IFactonQueryService" />
  <requiredService name="ServiceApi.Model.Entities.IStructuralPropertyFactory" />

  <requiredService name="ServiceApi.Model.Initialization.ISignatureEntitySetInitializer" />

  <dependingService name="ServiceApi.Model.Initialization.Configuration.IModelConfigurationRegistry" />
  <dependingService name="ServiceApi.Model.Initialization.IEntityTypeInitializerRegistry" />

</moduleConfiguration>