<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.ModelInitializationModule, ServiceApi.Model.Initialization.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="ServiceApi.Model.Core.DataTypes.IDataTypeRegistry" />
	<requiredService name="ServiceApi.Model.Core.Serialization.IMappingLogger" />
	
	<requiredService name="ServiceApi.Model.Entities.IStructuralPropertyFactory" />

	<requiredService name="ServiceApi.Model.Initialization.IDefaultOperationHandlerProvider" />
	<requiredService name="ServiceApi.Model.Initialization.Configuration.IModelConfigurationRegistry" />
	<requiredService name="ServiceApi.Model.Initialization.IEntityTypeInitializerRegistry" />
	<requiredService name="ServiceApi.Model.Initialization.Common.IPropertyService" />

	<providedService name="ServiceApi.Model.Initialization.IFactonModelInitializer" />

</moduleConfiguration>