<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.RegistriesModule, ServiceApi.Model.Initialization.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<providedService name="ServiceApi.Model.Initialization.Configuration.IModelConfigurationRegistry" />
	<providedService name="ServiceApi.Model.Initialization.IEntityTypeInitializerRegistry" />

</moduleConfiguration>