<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.Global.GlobalInitializationModule, ServiceApi.Model.Initialization.Implementation"
                     xmlns="http://www.facton.com/infrastructure/modularity">

  <requiredService name="ServiceApi.Model.Initialization.ISignatureEntitySetInitializer" />

  <dependingService name="ServiceApi.Model.Initialization.Configuration.IModelConfigurationRegistry" />
  <dependingService name="ServiceApi.Model.Initialization.IEntityTypeInitializerRegistry" />

</moduleConfiguration>