<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.ValueRules.ValueRulesInitializationModule, ServiceApi.Model.Initialization.Implementation"
										 xmlns="http://www.facton.com/infrastructure/modularity">

	<requiredService name="Facton.Domain.Dimensions.Metadata.ValueRules.IValueRuleMetadataService"/>
	<requiredService name="Facton.Domain.Dimensions.ValueRules.IValueRuleService"/>

	<requiredService name="ServiceApi.Model.Initialization.Common.IPropertyService" />

	<dependingService name="ServiceApi.Model.Initialization.IEntityTypeInitializerRegistry" />

</moduleConfiguration>