<?xml version="1.0" encoding="utf-8" ?>
<moduleConfiguration type="ServiceApi.Model.Initialization.DataTypes.DataTypesModule, ServiceApi.Model.Initialization.Implementation"
                     xmlns="http://www.facton.com/infrastructure/modularity">

  <requiredService name="Facton.Infrastructure.Metadata.IMetadataService" />

  <requiredService name="ServiceApi.Model.Core.Serialization.IODataObjectFactory" />

  <dependingService name="ServiceApi.Model.Core.DataTypes.IDataTypeRegistry" />

</moduleConfiguration>